.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}


.App-header {
  background-color: #fff;
 
  color: #000000;
}

.PokemonList{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

